body {
    background-image: url(../assets/bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.col-lg-6.d-none.d-lg-block .login-text,
.col-lg-6.d-none.d-lg-block .login-text-sub {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

.card {
    border-top: 10px solid #fdc601;
    width: 620px;
}



/* Shift logo left to avoid overlap with login card */
.col-lg-6.d-none.d-lg-block img {
    width: clamp(780px, 24vw, 300px);
    height: auto;
    display: block;
    margin: 0 auto 16px -118px;
}

/* Shift login form to the right to match image shift */
.col-lg-6.col-md-7.col-12 {
    padding-left: 118px;
}

.forgot-password {
    color: #FFC107;
    text-align: right;
    border: #fdc60100;
    background-color: #fdc60100;
}